* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  flex: 0.5;
  /* 定义鼠标悬停在元素上方显示的光标 */
  cursor: pointer;
  height: 80vh;
  position: relative;
  margin: 3px;
  /* 过渡与贝塞尔曲线 */
  transition: flex 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
}
.panel h3 {
  font-size: 24px;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  left: 100px;
  margin: 0;
  transition: opacity 0s ease-in 0s;
}
/* 添加active类名 */
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
/* 媒体查询 响应式*/
@media (max-width: 500px) {
  .container {
    width: 100vw;
  }
  /* :nth-child(n) 选择器匹配父元素中的第 n 个子元素，元素类型没有限制。 */
  /* n 可以是一个数字，一个关键字，或者一个公式。 */
  .panel:nth-child(5) {
    display: none;
  }
}
