*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
}

.square{
     background: rgb(190, 238, 238);
     width: 16px;
     height: 16px;
     margin: 2px;
     box-shadow: 0 0 3px rgb(142, 207, 235);
     transition: 2s ease;
}
.square:hover{
    transition-duration: 0s;
}